[Desktop Entry]
Type=Application
Version=0.0.5
Encoding=UTF-8
Name=Cuberok
Name[ru]=Cuberok
GenericName=Audio Player
GenericName[af]=Oudio Speler
GenericName[ar]=قارئى الصوت
GenericName[bg]=Аудио плеър
GenericName[bn]=অডিও প্লেয়ার
GenericName[br]=C'hoarier klevet
GenericName[ca]=Reproductor d'àudio
GenericName[cs]=Zvukový přehrávač
GenericName[da]=Lydafspiller
GenericName[de]=Audio-Wiedergabeprogramm
GenericName[el]=Αναπαραγωγή ήχου
GenericName[eo]=Aŭdludilo
GenericName[es]=Reproductor de audio
GenericName[et]=Helifailide mängija
GenericName[eu]=Audio-erreproduktorea
GenericName[fa]=پخش‌کنندۀ صوتی
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur audio
GenericName[ga]=Seinnteoir Fuaime
GenericName[gl]=Reprodutor de Áudio
GenericName[hi]=ऑडियो प्लेयर
GenericName[hu]=Zenelejátszó
GenericName[is]=Tónlistarspilari
GenericName[it]=Lettore audio
GenericName[ja]=オーディオプレーヤ
GenericName[ka]=აუდიოდამკვრელი
GenericName[km]=កម្មវិធី​ចាក់​អូឌីយ៉ូ
GenericName[lt]=Muzikos grotuvas
GenericName[mk]=Аудио-изведувач
GenericName[mn]=Аудио-изведувач
GenericName[ms]=Pemain Audio
GenericName[nb]=Musikkavspiller
GenericName[nds]=Klangafspeler
GenericName[ne]=अडियो प्लेयर
GenericName[nl]=Audiospeler
GenericName[nn]=Lydspelar
GenericName[pa]=ਆਡੀਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz audio
GenericName[pt]=Leitor de Áudio
GenericName[pt_BR]=Reprodutor de Áudio
GenericName[ru]=Аудиоплеер
GenericName[se]=Jietnačuojaheaddji
GenericName[sk]=Audio prehrávač
GenericName[sl]=Predvajalnik zvoka
GenericName[sq]=Audio plejer
GenericName[sr]=Аудио плејер
GenericName[sr@Latn]=Audio plejer
GenericName[ss]=Audio plejer
GenericName[sv]=Ljudspelare
GenericName[ta]=கேட்பொலி இயக்கி
GenericName[tg]=Аудио Плейер
GenericName[th]=โปรแกรมเล่นเสียง
GenericName[tr]=Müzik Çalar
GenericName[uk]=Аудіопрогравач
GenericName[uz]=Audio-pleyer
GenericName[uz@cyrillic]=Аудио-плейер
GenericName[wa]=Djouweu d' muzike
GenericName[zh_CN]=音频播放器
GenericName[zh_TW]=音樂播放程式
Exec=cuberok
Comment=Cuberok music player
Icon=cuberok
#MimeType=audio/aac;audio/mp4;audio/mpeg;audio/mpegurl;audio/vnd.rn-realaudio;audio/vorbis;audio/x-flac;audio/x-mp3;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-wav;video/x-ms-asf;audio/flac;audio/ogg;
#DocPath=amarok/index.html
Terminal=false
Categories=AudioVideo;
